extends layout 

block content 
  link(rel="stylesheet", href="/summernote/summernote-lite.css")
  script(src="/summernote/summernote-lite.js") 

<<<<<<< HEAD
    if (url==='faq')
      h3 account
      div.form-group
        label(for="") personal
        input(type="radio", name="account", value="personal", checked=(blog_detail && blog_detail.account==='personal' ? 'checked' : false)) 
        label(for="") business
        input(type="radio", name="account", value="business", checked=(blog_detail && blog_detail.account==='business' ? 'checked' : false)) 
=======
  h1= title 
>>>>>>> 45624db1215acd510c1dda439cd4343bfe3281df

  form(action="", method="POST")
    input(type="text", name="title") 
    textarea#summernote(name="content")
    p 
      button(type="submit") confirm 


  script(src="/summernote/summernote.js") 
