extends layout 

block content 
  link(rel="stylesheet", href="/summernote/summernote-lite.css")
  script(src="/summernote/summernote-lite.js") 


  form(action="", method="POST")
    //- Choose account weather it is for personal or business
    if (url==='faq')
      h3 account
      div.form-group
        label(for="") personal
        input(type="radio", name="account", value="personal", checked=true) 
        label(for="") business
        input(type="radio", name="account", value="business", checked=(blog && blog.account==='business' ? true : false)) 

    input(type="text", name="title", value=(blog ? blog.title : '')) 
    textarea#summernote(name="content")=(blog ? blog.content : '')
    p 
      button(type="submit") confirm 


  script(src="/summernote/summernote.js") 
