extends layout 

block content 
  //- h1= title 
  //- form(action="", method="POST") 
  //-   div.form-group
  //-     label(for="") 
  //-     input(type="text", name="title", value=(undefined===blog_detail? '' : blog_detail.title))
  //-   div.form-group
  //-     textarea(name="content", cols="30", rows="10")=(undefined===blog_detail? '' : blog_detail.content)

  //-   if (url === 'faq')
  //-     h3 account
  //-     div.form-group
  //-       label(for="") personal
  //-       input(type="radio", name="account", value="personal", checked=(blog_detail && blog_detail.account==='personal' ? 'checked' : false)) 
  //-       label(for="") business
  //-       input(type="radio", name="account", value="business", checked=(blog_detail && blog_detail.account==='business' ? 'checked' : false)) 

  //-   p 
  //-     button(type="submit") confirm
  //-   a(href="/admin/"+url+"/list") list 

  //- pre= blog_detail

  h1.admin_con_title= title 
  form(action="", method="POST", onsubmit="return confirm('제출하시겠습니까?');") 
    div.form-group.admin_blog_form_group
      label(for="") 제목
      input.frm_input.full_input(type="text", name="title", value=(undefined===blog_detail? '' : blog_detail.title), required)
    div.form-group.admin_blog_form_group
      p 내용
      textarea.frm_input.full_input#admin_blog_form_text(name="content", cols="30", rows="10")=(undefined===blog_detail? '' : blog_detail.content)

    if (url === 'faq')
      h3.admin_con_title 분류를 선택하세요.
      div.form-group.admin_fqa_form_group
        label(for="") 사업주
        input.frm_input(type="radio", name="account", value="personal", checked=(blog_detail && blog_detail.account==='personal' ? 'checked' : false)) 
        label(for="") 광고업체 / 인플루언서
        input.frm_input(type="radio", name="account", value="business", checked=(blog_detail && blog_detail.account==='business' ? 'checked' : false)) 

    p 
      button.submit_btn.faq_submit(type="submit") 확인
    //- a(href="/admin/"+url+"/list") list 
  
  //- pre= blog_detail
block scripts
  script(src='/javascript/admin_create_check.js')
  if (url === 'faq')
    script(src='/javascript/admin_faq_create_check.js')
