h1= title 

form(action="/admin/login", method="POST")
  div.form-group
    label(for="")
    input(type="text", name="admin")
  div.form-group
    label(for="")
    input(type="text")
  p
    button(type="submit") confirm  