extends layout 

block content 
  h1= title

  ul
    each user_personal in user_personals
      li
        a(href="/admin/user/personal/" + user_personal._id)= user_personal.user_id

  hr

  pre= user_personals