extends layout 

block content 
  h1= title 

  pre= user

  pre= user.file

  ul
    each review in user.reviews 
      li= review

  if (user.auth===0)
    form(action="", method="POST") 
      button(type="submit") confirm