

- - -
ObjectId hsfjj894943fhjksh94
CategoryId mphgoi3934jf4i3bhjfg 
PlatformId bgfsfj9403u3058u34f4 
name online
- - -
category
    estimateItem(id)  
        platforms(id) 
          | online 
          | commercial
          | sns 
        business
          | food
          | hospital
        goal
          | to increase sales 
          | to promote
        startday 
          |
        howlong 
          |
        cost
          |
        city 
          |
        feedback
          |
    fruits 
        apple
          |
        banana
          |
        mango 
          |
