extends layout 
block header 
  include back_header.pug
block content 
  //- h1= title

  //- h3 Chat list
  //- ul 
  //-   each chat_item in chat_list
  //-     li 
  //-       a(href="/chat/" + chat_item._id) #{chat_item.member.username}

  //- pre= chat_list

    //- h1= title

  .container
    h3.chat_list_title 채팅 리스트
    ul.chat_list_wrap 
      each chat_room in chat_list
        li 
          a(href="/chat/" + chat_room._id) #{chat_room.member.username}
            if (chat_room.last_content)
              p.chat_last_content #{chat_room.last_content.content}  - #{chat_room.last_content.reg_date.toLocaleString()}
