extends layout 

block content
  h1=title 

  pre= blog_list

  //- ul
  //-   each blog_post in blog_list 
  //-     li 
  //-       h2 #{blog_post.title}
  //-       p #{blog_post.content}
        
        

      


