extends layout 
block header 
  include menu_header.pug
block content 
  .container
    .com_ranking_imgbox 
      img.com_ranking_pc_img(src="/img/pc_company_ranking_info_img.png", alt="")
      img.com_ranking_mo_img(src="/img/mo_company_ranking_info_img.png", alt="")