extends layout 

block content 
  h1= title 
  form(action="" method="POST")
    div.form-group
      label(for="")
      input(type="text", name="title")
    div.form-group
      textarea(name="content", cols="30", rows="10")  

    p 
      button(type="submit") confirm
