extends layout 

block content 
  h1= title

  pre= estimate_request 
  hr

  each estimate_response in estimate_responses 
    a(href=`/estimate/${estimate_response.estimate_request}/${estimate_response._id}`)= estimate_response.user_id.user_id
    p= estimate_response.cost.reduce(function (sum, value) { return sum + Number(value) }, 0)

  
