extends layout 

block content 
  h1= title

  pre= estimate_response

  p 
    a(href="/chat/?you=" + estimate_response.user_id) chat 

  h3 Portfolio
  pre= portfolio
  //- img(src="/files/" + portfolio.md_name, alt="")

  h3 Business reviews
  pre= business_reviews

  p 
    a(href="/estimate/request/" + estimate_response.estimate_request) list 