extends layout 

block content 
  h1= title

  pre= estimate_detail

  //- span= estimate_detail.unit[0]
  //- span= estimate_detail.cost[0]
  //- span= estimate_detail.msg[0]
  //- br
  //- br
  //- span= estimate_detail.unit[1]
  //- span= estimate_detail.cost[1]
  //- span= estimate_detail.msg[1]