extends layout 
block header 
  include z_back_header.pug 
block content 
  .form_page_container
    ul.request_topics_wrap 
      li 
        a(href="/estimate/request/online_list") 온라인 광고
      li.offline_list 
        a(href="/estimate/request/form?topic=619886a13d51db1799238a73") 오프라인 광고
      li 
        a(href="/estimate/request/form?topic=619886a13d51db1799238a75") 판촉물 제작/배포


  

    




  

  
