extends layout 

block content
  h1= title 

  //- pre= results

  ul
    each estimate_sent in results 
      li
        a(href="/estimate/sent/" + estimate_sent._id)= estimate_sent.estimate_request.platform[0].name
        | (#{results[0].estimate_request.user_id})