extends layout 

block content 
  h1= title

  pre= estimate 

  hr

  each val in estimate_companies 
    a(href=`/estimate/${val.estimate}/${val._id}`)= val.company.user_id
    p= val.cost.reduce(function (sum, value) { return sum + Number(value) }, 0)
    p - - -


  //- pre= estimate_companies
  
