extends layout 

block content 
  h1= title

  pre= estimate_request 
  hr

  ul
    each estimate_response in estimate_responses 
      li
        a(href="/estimate/response/" + estimate_response._id) #{estimate_response.user.username}
        |  #{estimate_response.cost.reduce(function (sum, value) { return sum + Number(value) }, 0)}

  
