extends layout 

block content 
  h1= title

  p item / cost / - 

  form(action="" method="POST") 
    div.form-group
      input(type="text" name="unit")
      br
      input(type="text" name="cost")
      br
      input(type="text" name="msg")
    hr
    div.form-group
      input(type="text" name="unit")
      br
      input(type="text" name="cost")
      br
      input(type="text" name="msg")
    hr
    div.form-group
      input(type="text" name="unit")
      br
      input(type="text" name="cost")
      br
      input(type="text" name="msg")

    p
      button(type="submit") confirm