extends layout 

block content 
  h1= title

  pre= results

  form(action="", method="POST") 
    table 
      tr 
        th item 
        th cost 
        th note 
      tr 
        td 
          input(type="text", name="item")
        td
          input(type="text", name="cost")
        td
          input(type="text", name="note")
      tr 
        td 
          input(type="text", name="item")
        td
          input(type="text", name="cost")
        td
          input(type="text", name="note")
      tr 
        td 
          input(type="text", name="item")
        td
          input(type="text", name="cost")
        td
          input(type="text", name="note")
  
    p
      button(type="submit") confirm

  p 
    a(href="/estimatesCompany/") list