extends layout 

block content 
  h1= title

  pre= results

  input(type="text")
  input(type="text")
  input(type="text")
  input(type="text")
  input(type="text")
  input(type="text")

  p 
    a(href="/estimatesCompany/") list