extends layout 

block content 
  h1= title

  ul 
    each estimate_received in estimate_received_list 
      if (estimate_received.sent < 1)
        li
          a(href="/estimate/received/" + estimate_received._id) #{estimate_received.platform[0].name}  
          span (#{estimate_received.user_id.user_id})

  //- pre= estimate_received_list


