doctype html
html
  head
    <meta name="viewport" content="width=device-width,initial-scale=1">
    title= title
    link(rel='stylesheet', href='/stylesheets/reset.css')
    link(rel='stylesheet', href='/stylesheets/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/navi.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/summernote/jquery-3.5.1.js") 
    script(src="/socket.io/socket.io.js") 
    script.
      var socket = io()
      var user_global = JSON.parse('!{JSON.stringify(user_global)}')
    
  body
    .page_wrap
      block header
  
      div.wrap
        block content
  
      footer 
        if (user_global_account)
          ul.foot_icon_wrap.clearfix 
            li 
              a(href="/")
                img(src='/img/foot_icon01.svg' alt='')
                p 홈
            if (user_global_account==='personal')
              li 
                a(href="/estimate/request/form")
                  img(src='/img/foot_icon03.svg' alt='')
                  p 견적 요청
              li 
                a(href="/estimate/request/list")
                  img(src='/img/foot_icon04.svg' alt='')
                  p 받은 견적
            if (user_global_account==='business')
              li 
                a(href="/estimate/received/list")
                  img(src='/img/foot_icon04.svg' alt='')
                  p 받은 견적요청
              li 
                a(href="/estimate/sent/list")
                  img(src='/img/foot_icon03.svg' alt='')
                  p 보낸 견적
            li 
              a(href="/chats")
                img(src='/img/foot_icon06.svg' alt='')
                p 채팅
                  span#notification #{chat_notification}
            li 
              a(href="/mypage")
                img(src='/img/foot_icon02.svg' alt='')
                p 마이페이지
        else
          ul.foot_icon_wrap.clearfix 
            h3 
              a(href="/login") 회원가입 및 로그인
    script(src='/javascript/navi.js')
    script(src='/javascript/back.js')
    block scripts 
    
    script.
      // Replace chat notification count on the navigation bar
      socket.on('chat_notification', function (chat_rooms, chat_contents) {
        var chat_notification = 0
        
        for (chat_room of chat_rooms) {
          if (chat_room.user.includes(user_global.id)) {
            for (chat_content of chat_contents) {
              if (chat_content.room===chat_room._id && !chat_content.read.includes(user_global.id)) {
                console.log(chat_content)
                chat_notification++
              }
            }
          }
        }
        document.getElementById('notification').textContent = chat_notification
      })


      

