doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    
  body
    nav 
      a(href="/") 홈 / 
      a(href="/company/about") 회사소개 / 
      a(href="/company/notice/list") 공지사항 / 
      a(href="/login") 회원가입 및 로그인 / 
      a(href="/company/guide") 이용방법 / 
      a(href="/company/faq/list") 자주묻는질문 / 
      a(href="/company/event/list") 키고이벤트 / 
      a(href="/company/share") 친구에게 앱 추천하기 / 
      a(href="/company/contact/list") 고객센터 / 
      a(href="/test") test 
    
    div.wrap
      block content

    footer 
      if (user_account==='personal')
        h3 일반사용자
        a(href="/") 홈 / 
        a(href="/estimate/request/form") 견적 요청하기 / 
        a(href="/estimate/request/list") 받은 견적 / 
        a(href="/chat/list") 채팅 / 
        a(href="/mypage/personal") 마이페이지 
      if (user_account==='business')
        h3 업체
        a(href="/") 홈 / 
        a(href="/estimate/received/list") 받은 견적요청 / 
        a(href="/estimate/sent/list") 보낸 견적 / 
        a(href="/chat/list") 채팅 / 
        a(href="/user/business") 마이페이지
      if (user_account===undefined)
        h3 login first
      

