extends layout 
block header 
  include z_back_header.pug
block content 
  .container.lost_password_page_wrap 
    h1.lost_password_title= title

    form(action="", method="POST")
      input.frm_input.full_input(type="text", name="email") 
      button.submit_btn(type="submit") 확인
      p.lost_password_subtxt 이메일로 비밀번호 변경 링크를 발송해드립니다

    if (error)
      p #{error}