extends layout 

block content 
  h1= title 

  //- Some guide for dropping KIGO 
  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae doloribus aliquam dolorum. Odio tempora quos ut rem quaerat ad delectus dolore aliquid doloribus, sequi nam enim, reiciendis adipisci? Corporis, fuga? 

  br

  form(action="", method="POST", onsubmit="return confirm('y/n')") 
    button drop
     