extends layout 
block header 
  include back_header.pug 
block content 
  //- h1= title 

  //- form(action="", method="POST") 
  //-   div.form-group
  //-   label(for="") password 
  //-   input(type="text", name="password")
  //-   p 
  //-     button(type="submit") confirm

  //- if error 
  //-   p= error


  .container
    form(action="", method="POST") 
      div.form-group.account_access_form_group
        label(for="") 비밀번호
        input.frm_input.full_input(type="password", name="password", placeholder="비밀번호를 입력해주세요.")
      p.account_access_btn 
        button(type="submit") 확인

  if error 
    p= error
