extends layout 
block header 
  include z_back_header.pug 
block content 
  //- h1= title 

  //- h3 Accept estimate request or not
  //- //- Some CSS work to be like toggle switch 
  //- input(type="checkbox", name="alarm", onchange="setAlarm(this)", checked=online) 

  .container 
    ul.alarm_wrap 
      li.clearfix 
        div 
          span 견적요청서 받기 
        div.alarm_btn_wrap
          div.alarm_btn_box 
            input(type="checkbox", name="alarm", onchange="setAlarm(this)", checked=online, id="alarm")
            label(for="alarm") 

    

  script.
    async function setAlarm(el) {
      var results = await fetch('/mypage/alarm', {
        method: 'POST',
        headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
        body: 'alarm=' + el.value
      }).then(res => res.text())
    }
  //- script(src='/javascript/alarm_check.js')
    




    