extends layout 

block content 
  h1= title

  form(action="" method="POST") 
    div.form-group
      label(for="") id
      input#user_id(type="text", name="user_id" value=(undefined==user_personal ? '' : user_personal.user_id))
      p#user_id_check
    div.form-group
      label(for="") password
      input#password(type="text" name="password" value=(undefined==user_personal ? '' : user_personal.password)) 
    div.form-group
      label(for="") password confirm 
      input#password_confirm(type="text" name="password_confirm" value=(undefined==user_personal ? '' : user_personal.password))  
      p#password_check
    div.form-group
      label(for="") name 
      input(type="text" name="name" value=(undefined==user_personal ? '' : user_personal.name)) 
    div.form-group
      label(for="") gender 
      label(for="") male   
      input(type="radio" name="gender" value="male" checked=(undefined==user_personal || user_personal.gender!='male' ? false:'checked'))
      label(for="") female 
      input(type="radio" name="gender" value="female" checked=(undefined==user_personal || user_personal.gender!='female' ? false:'checked')) 
    div.form-group
      label(for="") birth 
      input(type="date" name="birth_date" value=(undefined==user_personal ? '' : user_personal.date_of_birth_yyyy_mm_dd)) 
    div.form-group
      label(for="") city 
      select(name="city") 
        each city in cities 
          option(value=city._id, selected=(undefined!=user_personal && user_personal.city==city._id.toString() ? 'selected' : false))= city.name 
    div.form-group
      label(for="") phone
      input(type="text" name="phone" value=(undefined==user_personal ? '' : user_personal.phone))
    div.form-group
      label(for="") email 
      input(type="text" name="email" value=(undefined==user_personal ? '': user_personal.email))
    div.form-group
      textarea#policy(name="", cols="30", rows="10") 
    button(type="submit") confirm 

  script.
    var user_id = document.getElementById('user_id')
    user_id.addEventListener('keyup', async () => {
      var results = await fetch('/userid/check', {
        method: 'POST',
        headers: { 
          'Accept': 'application/json',
          'Content-Type': 'application/json' 
          },
        //- headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
        body: JSON.stringify({ user_id: user_id.value })
      })
      .then(obj => obj.text())
      document.getElementById('user_id_check').textContent = results
    })

    var password = document.getElementById('password')
    var password_confirm = document.getElementById('password_confirm')
    var password_check = document.getElementById('password_check')

    password_confirm.addEventListener('keyup', function () {
      if (password.value===password_confirm.value) {
        password_check.textContent = ''
      } else {
        password_check.textContent = 'password confirm failed'
      }
    })


       