extends layout 
block header 
  include back_header.pug
block content 
  //- h1= title

  if errors 
    ul.signup_error 
      for error in errors 
        li= error

  //- form(action="" method="POST") 
  //-   div.form-group
  //-     label(for="") id
  //-     input(type="text", name="username" value=(undefined==user_personal ? '' : user_personal.username))
  //-   div.form-group
  //-     label(for="") password
  //-     input(type="text" name="password" value=(undefined==user_personal ? '' : user_personal.password)) 
  //-   div.form-group
  //-     label(for="") password confirm 
  //-     input(type="text" name="password_confirm" value=(undefined==user_personal ? '' : user_personal.password))  
  //-   div.form-group
  //-     label(for="") name 
  //-     input(type="text" name="name" value=(undefined==user_personal ? '' : user_personal.name)) 
  //-   div.form-group
  //-     label(for="") gender 
  //-     label(for="") male   
  //-     input(type="radio" name="gender" value="male" checked=(undefined==user_personal || user_personal.gender!='male' ? false:'checked'))
  //-     label(for="") female 
  //-     input(type="radio" name="gender" value="female" checked=(undefined==user_personal || user_personal.gender!='female' ? false:'checked')) 
  //-   div.form-group
  //-     label(for="") birth 
  //-     input(type="date" name="birth_date" value=(undefined==user_personal ? '' : user_personal.date_of_birth_yyyy_mm_dd)) 
  //-   div.form-group
  //-     label(for="") city 
  //-     select(name="city") 
  //-       each city in cities 
  //-         option(value=city._id, selected=(undefined!=user_personal && user_personal.city==city._id.toString() ? 'selected' : false))= city.name 
  //-   div.form-group
  //-     label(for="") phone
  //-     input(type="text" name="phone" value=(undefined==user_personal ? '' : user_personal.phone))
  //-   div.form-group
  //-     label(for="") email 
  //-     input(type="text" name="email" value=(undefined==user_personal ? '': user_personal.email))
  //-   div.form-group
  //-     textarea#policy(name="", cols="30", rows="10") 
  //-   button(type="submit") confirm 

  style.
    .foot_icon_wrap{
    display: none;
    }
  .container
    form(action=(undefined===user_personal ? '' : '/mypage/personal/account') method="POST", onsubmit="return confirm('제출하시겠습니까?');") 
      table.signup_form 
        tbody 
          tr 
            td 
              label(for="") 아이디
            td 
              input.full_input#user_id(type="text", name="username" value=(undefined==user_personal ? '' : user_personal.username))
          tr
            td 
              label(for="") 비밀번호
            td 
              input.full_input(type="text" name="password" value=(undefined==user_personal ? '' : user_personal.password)) 
          tr 
            td 
              label(for="") 비밀번호 확인
            td 
              input.full_input(type="text" name="password_confirm" value=(undefined==user_personal ? '' : user_personal.password)) 
          tr
            td 
              label(for="") 이름 
            td 
              input.full_input(type="text" name="name" value=(undefined==user_personal ? '' : user_personal.name)) 
          tr 
            td 
              label(for="") 성별
            td 
              label(for="") 남
              input.check_gender(type="radio" name="gender" value="male" checked=(undefined==user_personal || user_personal.gender!='male' ? false:'checked'))
              label(for="") 여
              input.check_gender(type="radio" name="gender" value="female" checked=(undefined==user_personal || user_personal.gender!='female' ? false:'checked')) 
          tr 
            td 
              label(for="") 생년월일
            td 
              input.full_input(type="date" name="birth_date" value=(undefined==user_personal ? '' : user_personal.date_of_birth_yyyy_mm_dd)) 
          tr 
            td 
              label(for="") 지역
            td 
              select.full_input(name="city") 
                each city in cities 
                  option(value=city._id, selected=(undefined!=user_personal && user_personal.city==city._id.toString() ? 'selected' : false))= city.name 
          tr 
            td 
              label(for="") 휴대폰
            td 
              input.full_input(type="text" name="phone" value=(undefined==user_personal ? '' : user_personal.phone))
          tr 
            td 
              label(for="") 이메일
            td 
              input.full_input(type="text" name="email" value=(undefined==user_personal ? '': user_personal.email))
          //- tr 
          //-   td(colspan='2')
          //-     textarea#policy.full_input(name="", cols="30", rows="10") 
      .terms 
        p 이용약관
      button.signup_btn(type="submit") 확인
block scripts 
  script(src='/javascript/user_unmodifiable.js')