extends layout 

block content
  form(action="") 
    h1= title
    input(type="text", placeholder="id")
    br
    input(type="text", placeholder="password")
    br
    button login 
    br
    label(for="") user 
    input(type="radio") 
    label(for="") company 
    input(type="radio") 
    br
    a(href="/signupOption") sign up 
        