extends layout 

block content 
  .kigo_imgbox 
    img(src='/img/logo.png' alt='')
  .reset_password_page_wrap
    form(action=password_change ? '/user/change_password' : '', method="POST") 
      div.form-group
        label(for="") 비밀번호 재설정
        input.frm_input.full_input(type="text", name="password", requried)
      div.form-group 
        label(for="") 비밀번호 재설정 확인
        input.frm_input.full_input(type="text", name="password_confirm", requried)

      p 
        button.submit_btn(type="submit") 확인