extends layout 

block content 
  h1= title 

  ul
    li
      a(href="/mypage/account/access") account 
    li
      a(href="/mypage/qna/list") my qna 
    if (user.account==='personal')
      li 
        a(href="/mypage/personal/review/list") my review 
    li
      a(href="/logout") logout 

      