extends layout 

block content 
  h1= title 
  
  ul 
    li
      a(href="/mypage/personal/account") account 
    li 
      a(href="/mypage/personal/review/list") my review 
    li
      a(href="/mypage/personal/qna/list") my qna 
    