extends layout 

block content 
  h1= title 

  form(action="", method="POST")
    div.form-group
      label(for="") password 
      input(type="text", name="password")
    p 
      button(type="submit") confirm 
  
  p= error
      