extends layout 

block content
  form(action="" method="POST") 
    h1= title
    input(type="text", name="username")
    br
    input(type="text", name="password")
    br
    button(type="submit")  confirm
    div.form-group
      label(for="") user 
      input(type="radio", name="login_type", value="personal", checked) 
      label(for="") company 
      input(type="radio", name="login_type", value="business") 

              
  if errors 
    ul 
      for error in errors 
        li!= error.msg
      
  p 
    a(href="/signup/option") Sign up 

  p 
    a(href="/user/lostpassword") Lost password? 
