extends layout 
block header 
  include back_header.pug
block content 
  //- h1= title

  //- form(action="", method="POST")
  //-   input(type="text", name="email") 
  //-   button(type="submit") confirm
  //-   p We sent verification to your email.

  .container.lost_password_page_wrap 
    h1.lost_password_title= title

    form(action="", method="POST")
      input.frm_input.full_input(type="text", name="email") 
      button.submit_btn(type="submit") 확인
      p.lost_password_subtxt 이메일로 비밀번호 변경 링크를 발송해드립니다
