extends layout 
block header 
  include menu_header.pug
block content
  .container
    //- img.login_logo(src="/img/login_logo.png", alt="")
    form(action="", method="POST", autocomplete="off") 
      //- h1= title 
      input.login_username(type="text", name="username", placeholder='아이디')
      br
      input.login_password(type="text", name="password", placeholder='비밀번호')
      br
      button.login_btn(type="submit") LOGIN

      div.form-group.login_type_check.clearfix
        div
          input#type_user(type="radio", name="login_type", value="personal", checked) 
          label(for="type_user") 일반사용자
        div
          input#type_business(type="radio", name="login_type", value="business")
          label(for="type_business") 광고업체, 인플루언서 

                
    if errors 
      ul.login_error 
        for error in errors 
          li= error
        
    p.join_btn 
      a(href="/signup/option") 회원가입

    p.lost_password_btn 
      a(href="/user/lostpassword") 비밀번호 찾기
