extends layout 

block content 
  h1= title 
  
  form(action="", method="POST") 
    div.form-group
      label(for="") new password 
      input(type="text", name="password")
    div.form-group 
      label(for="") new password confirm
      input(type="text", name="password_confirm")
    div.form-group
      label(for="") token 
      input(type="text", name="token", value=token) 

    p= a
    p= b 

    p 
      button(type="submit") confirm